@font-face {
    font-family: Poppins;
    font-weight: 400;
    src: url("../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins;
    font-weight: 700;
    src: url("../assets/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: Jost;
    font-weight: 400;
    src: url("../assets/fonts/Jost-Regular.ttf");
}

@font-face {
    font-family: Jost;
    font-weight: 700;
    src: url("../assets/fonts/Jost-Bold.ttf");
}

html {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

body {
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #686565;
}

button {
    width: 246px;
    height: 72px;
    border-radius: 10px;
    font-size: 24px;
}

fieldset {
    border: 0 none;
}

hr {
    width: 1334px;
    margin: 30px auto;
    border: 3px solid black;
}

.header-container {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.header {
    margin-left: 78px;
}

.menu-container {
    width: 50%;
    margin-right: 130px;
}

.menu {
    display: flex;
    justify-content: space-between;
}
.menu-item {
    list-style-type: none;
}

.logo {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    color: #0E0578;
}

.front-part {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    margin-left: 78px;
}

.front-part-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 111px;
}

.blue-button {
    background-color: #2000E7;
    color: #FFFFFF;
    border: 2px solid #2000E7;
}

.transparent-button {
    background-color: rgb(32 0 231 / 0.04);
    color: #2000E7;
    border: 2px solid #2000E7;
}

.front-part-title {
    width: 447px;
    height: 144px;
    font-size: 48px;
    line-height: 72px;
    color: #2000E7;
}

.front-part-subtitle {
    width: 400px;
    font-size: 30px;
    line-height: 45px;
    color: #2000E7;
}

.yellow-text {
    color: #F2BD00;
}

.image-container {
    width: 564px;
    height: 564px;
    margin-right: 104px;
}

.front-part-text {
    width: 616px;
    height: 72px;
}

.second-part {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    margin-left: 78px;
}

.second-part-text-container {
    margin-top: 200px;
}

.second-part-title {
    font-size: 48px;

    color: #2000E7;
    line-height: 72px;
}

.second-part-text {
    width: 400px;
}

.third-part {
    background-color: #FFD69633;
    width: 100%;
    margin: 272px 0 0 0;
    padding: 0;
}

.third-part-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-part-title {
    font-size: 48px;
    font-weight: 700;
    color: #2000E7;
    line-height: 72px;
    margin-bottom: 0;
}

.third-part-text {
    margin-top: 0;
}

.third-part-images-container {
    display: flex;
    flex-wrap: wrap;
}

.third-part-images-container>* {
    flex: 0 0 31%;
}

.third-part-images-container > img {
    width: 246px;
    height: 180px;
    margin: 15px 15px 33px 15px;
}

.fourth-part-title {
    font-size: 64px;
    font-weight: 700;
    color: #2000E7;
    line-height: 72px;
    margin-bottom: 0;
}

.third-part-text {
    margin-top: 0;
}

.fourth-part {
    background-color: #43BAFD0F;
    margin-top: 272px;
}

.fourth-part-form-image {
    margin-left: 50px;
}

.fourth-part-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourth-part-form-image {
    display: flex;
    justify-content: space-between;
}

.fourth-part-form {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email {
    width: 653px;
    height: 94px;
    font-size: 32px;
    line-height: 48px;
    box-shadow: 10px 10px 10px grey;
}

.password {
    width: 653px;
    height: 94px;
    font-size: 32px;
    line-height: 48px;
    margin-top: 81px;
    box-shadow: 10px 10px 10px grey;
}

.text {
    width: 653px;
    height: 265px;
    font-size: 32px;
    line-height: 48px;
    margin-top: 81px;
    box-shadow: 10px 10px 10px grey;
}

.fourth-part-button {
    width: 327px;
    height: 94px;
    background-color: #FFFFFF;
    font-size: 32px;
    line-height: 48px;
    margin-top: 49px;
    box-shadow: 10px 10px 10px grey;
    border-radius: 0;

}

::placeholder {
    color: #000000;
    padding: 30px 511px 16px 55px;
}

.fourth-part-image {
    margin-left: -140px;
}

.footer {
    width: 1440px;
    height: 809px;
    display: flex;
    flex-direction: column;
    font-family: Jost, sans-serif;
    font-size: 31px;
    line-height: 44.8px;
    background-color: #FFD69633;
    margin-top: 208px;
}

.footer-container1 {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 137px;
}

.footer-container2 {
    display: flex;
    justify-content: space-between;
    margin-left: 46px;
    align-items: center;
}

.footer-text-container {
    margin-left: 73px;
    margin-top: 40px;
}

.logo2 {
    width: 386px;
    height: 72px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 46.24px;
    color: #0E0578;
}

.bold {
    font-weight: 700;
}

.footer-button-container {
    display: flex;
    margin-top: 50px;
    margin-left: -50px;
}

.footer-email {
    width: 323px;
    height: 97px;
    background-color: #000000;
    border-radius: 30px;
}

.footer-text-container ::placeholder {
    width: 78px;
    height: 45px;
    font-size: 31px;
    line-height: 44.8px;
    color: #FFFFFF;
}

.footer-button {
    width: 178px;
    height: 100px;
    background-color: #F965FC;
    border-radius: 30px;
    font-size: 31px;
    line-height: 44.8px;
    color: #FFFFFF;
    margin-left: -70px;
}

.font-size-32 {
    font-size: 32px;
}

.footer-image-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-column {
    margin-left: 100px;
}