@font-face {
    font-family: Poppins;
    font-weight: 400;
    src: url("../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins;
    font-weight: 700;
    src: url("../assets/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: Jost;
    font-weight: 400;
    src: url("../assets/fonts/Jost-Regular.ttf");
}

@font-face {
    font-family: Jost;
    font-weight: 700;
    src: url("../assets/fonts/Jost-Bold.ttf");
}

html {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

body {
    width: 85vw;
    height: 100vh;
    margin-left: 78px;
}

a {
    text-decoration: none;
    color: #686565;
}

button {
    width: 246px;
    height: 72px;
    border-radius: 10px;
    font-size: 24px;
}

fieldset {
    border: 0 none;
}

.header-container {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.header {

}

.menu-container {
    width: 50%;
}

.menu {
    display: flex;
    justify-content: space-between;
}
.menu-item {
    list-style-type: none;
}

.logo {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    color: #0E0578;
}

.front-part {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}

//.front-part-button {
    display: flex;
    justify-content: space-between;
}

.blue-button {
    background-color: #2000E7;
    color: #FFFFFF;
    border: 2px solid #2000E7;
}

.transparent-button {
    background-color: #2000E7 4%;
    color: #2000E7;
    border: 2px solid #2000E7;
}

.front-part-title {
    width: 447px;
    height: 144px;
    font-size: 48px;
    line-height: 72px;
    color: #2000E7;
}

.front-part-subtitle {
    width: 400px;
    font-size: 30px;
    line-height: 45px;
    color: #2000E7;
}

.yellow-text {
    color: #F2BD00;
}

.image-container {
    width: 564px;
    height: 564px;
}

.front-part-text {
    width: 400px;
}

.second-part {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}

.second-part-text-container {
    margin-top: 200px;
}

.second-part-title {
    font-size: 48px;

    color: #2000E7;
    line-height: 72px;
}

.second-part-text {
    width: 400px;
}

//.image-container2 {
    margin-left: 100px;
}

.third-part {
    background-color: #FFD69633;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 272px;
}

.third-part-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-part-title {
    font-size: 48px;
    font-weight: 700;
    color: #2000E7;
    line-height: 72px;
    margin-bottom: 0;
}

.third-part-text {
    margin-top: 0;
}

.third-part-images-container {
    display: flex;
    flex-wrap: wrap;
}

.third-part-images-container>* {
    flex: 0 0 25%;
}

.third-part-images-container > img {
    width: 246px;
    height: 180px;
    margin: 20px;
}

.fourth-part-title {
    font-size: 64px;
    font-weight: 700;
    color: #2000E7;
    line-height: 72px;
    margin-bottom: 0;
}

.third-part-text {
    margin-top: 0;
}

.fourth-part {
    background-color: #43BAFD0F;
    margin-top: 272px;
}

.fourth-part-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourth-part-form-image {
    display: flex;
    justify-content: space-between;
}

.fourth-part-form {
    display: flex;
    flex-direction: column;
}

.email {
    width: 653px;
    height: 94px;
    font-size: 32px;
    line-height: 48px;
    box-shadow: 10px 10px 10px grey;
}

.password {
    width: 653px;
    height: 94px;
    font-size: 32px;
    line-height: 48px;
    margin-top: 81px;
    box-shadow: 10px 10px 10px grey;
}

.text {
    width: 653px;
    height: 265px;
    font-size: 32px;
    line-height: 48px;
    margin-top: 81px;
    box-shadow: 10px 10px 10px grey;
}

.fourth-part-button {
    margin-top: 49px;
    //margin-left: 200px;
    display: flex;
}

::placeholder {
    color: #000000;
    padding: 30px 511px 16px 55px;
}

.fourth-part-image {
    margin-left: -140px;
}